.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.fileUploadWrapper {
  margin-bottom: 50px;
}

.import {
  padding: 10px 50px;
  border: 1px solid green;
  background-color: rgb(52, 187, 119);
  color: white;
  cursor: pointer;
}

.errorDiv {
  width: 70%;
  padding: 30px 15px;
  border: 2px solid red;
  background-color: salmon;
  text-align: center;
}

.table {
  border: 2px solid black;
}

.table th,
.table td {
  text-align: center;
  border: 1px solid black;
}

td.error {
  background-color: salmon;
}
